html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container{
  padding: 1rem;
}

select {
  background-color: #001835;
  padding: 0.7rem;
  border-radius: 8px;
  border: none;
  min-width: 15rem;  
  color: #006AE6;
  font-size: 0.9rem;
}